* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Nunito', sans-serif;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  body {
    width: fit-content;
    margin: auto;
  }
}
 
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
  body {
    width: fit-content;
    margin: auto;
  }
}

/* Home-page */

h1.main-heading {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 42px;
}
p.main-des {
  text-align: center;
  font-size: 22px;

}
.button {
  display: flex;
  margin-bottom: 100px;
  margin-top: 100px;
  justify-content: center;
}
a.btn-explore {
  margin-right: 10px;
  text-decoration: none;
}

a.btn-download {
  text-decoration: none;
}

a.btn-inline-ex {
  font-size: 20px;
  padding: 15px 35px;
  color: #252525;
  border-color: #ffffff;
  background: #ffffff;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%) !important;
}
a.btn-inline-down {
  font-size: 20px;
  padding: 15px 35px;
  color: #ffffff;
  border-color: #0098f7;
  background: #0098f7;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%) !important;
}
.feature-img {
  text-align: center;
}
p.text-bold {
  font-size: 20px;
  font-weight: 700;
  color: #515151;
  text-align: center;
  margin-top: 50px;
}
section.bg-color {
  margin-top: 100px;
  background: #f5f5f5;
  padding: 100px;
}
p.text-froala {
  text-align: center;
  font-size: 33px;
  color: #353535;
  margin-bottom: 50px;
}
.froala-section {
  display: flex;
  justify-content: center;
}
.img-1 {
  width: 33.33333333%;
}
.img-2 {
  width: 33.33333333%;
}
.img-3 {
  width: 33.33333333%;
}
p.edit-title {
  font-size: 20px;
  font-weight: 700;
  color: #353535;
  padding-top: 15px;
}
p.edit-des {
  width: 80%;
  font-size: 16px;
  color: #515151;
  margin-top: 15px;
}
p.inline-title {
  font-size: 27px;
  color: #353535;
  margin-left: 50px;
  padding-top: 10px;
  margin-bottom: 30px;
}
p.inline-des {
  color: #515151;
  font-size: 16px;
  margin-bottom: 50px;
  margin-left: 50px;
}
a.inline-btn {
  color: #fff;
  background: #0098F7;
  border-radius: 2px 2px 2px 2px;
  padding: 12px 24px 12px 24px;
  margin-left: 50px;
}
.inline {
  margin-top: 80px;
  margin-bottom: 80px;
}
section.block-sec {
  padding: 50px;
  box-shadow: 0 11px 15px -7px rgb(0 0 0 / 20%), 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%);
}
.space-img {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 90px;
}
p.get-started {
  text-align: center;
  font-size: 33px;
  color: #353535;
  margin-top: 100px;
  margin-bottom: 20px;
}
p.heading-des {
  font-size: 22px;
  text-align: center;
  color: #515151;
  line-height: 1.5em;
  margin-bottom: 20px;
}
p.text-small {
  text-align: center;
}
.plan-btn-style {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
a.plan-btn {
  color: #fff;
  background: #0098F7;
  border-radius: 2px 2px 2px 2px;
  padding: 12px 24px 12px 24px;
}
p.edit-link a {
  color: #0198f7;
  text-decoration: none;
}
p.edit-link {
  margin-top: 10px;
}
.intline-btn-link a {
  text-decoration: none;
}
.plan-btn-style a {
  text-decoration: none;
}
p.text-small a {
  color: #0198f7;
  text-decoration: none;
}
/* Demo */

p.use-text {
  text-align: center;
}
span.box-color {
  background: #bde3fb5c;
  padding: 10px;
  border-radius: 4px;
  font-family: "Lucida Console", Monaco, monospace;
}
.img-Spring{
  width: 25%;
}
.spring-images {
  margin-top: 50px;
  display: flex;
  text-align: center;
}

.comapnies-img{
  width: 11.11111111%;
}
.text-read-more{
  text-align: center;
  margin-top: 50px;
}
.froala-tint{
  margin-top: 50px;
  display: flex;
}
p.text-tint {
  width: 50%;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 50px;
}
.editior_img {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
p.tint-title {
  font-size: 20px;
  font-weight: 700;
  color: #353535;
  padding-top: 15px;
  margin-bottom: 20px;
}
p.modern-text {
  text-align: center;
  font-size: 33px;
  color: #353535;
  margin-bottom: 50px;
  margin-top: 100px;
}
.bottom-space {
  margin-bottom: 100px;
}

/* Features */
.ultra-section {
  display: flex;
  margin-top: 150px;
}
.ultra-text {
  width: 50%;
}
.ultra-img {
  width: 50%;
  text-align: right;
}
p.head-title {
  font-size: 42px;
}
p.color-grey {
  color: #8892a0;
  font-size: 24px;
  margin-top: 25px;
  line-height: 32px;
}
.text-block {
  width: 25%;
}
.ultra-block {
  display: flex;
  margin-top: 60px;
}
section.bgd-color {
  background-color: #FAFAFA;
  padding-bottom: 50px;
}
.top-space {
  margin-top: 100px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .ultra-section {
    display: block;
  }
  .ultra-text {
    width: 100%;
  }
  .ultra-img {
    width: 100%;
    text-align: center;
    margin-top:50px;
  }
  .ultra-block {
    display: block;
  }
  .text-block {
    width: 100%;
  }
}

/* Docs */

h1.head-title {
  margin-top: 100px;
}
p.docs-text {
  font-size: 25px;
  color: #353535;
  margin-top: 30px;
  line-height: 1.5em;
  margin-bottom: 30px;
}
.single-line {
  display: flex;
}
.doc-card {
  width: 33.33333333%;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  border-radius: 5px;
  color: #7a7a7a;
  padding-top: 0.8em;
  margin-right: 20px;
  margin-top: 20px;
}
h3.text-light {
  font-weight: 300;
  color: #353535;
  line-height: 1.5;
  font-size: 30px;
}
img.entered.lazyloaded {
  margin-top: 20px;
  margin-bottom: 30px;
}
.r-btn.highlight {
  color: #fff;
  background: #0098F7;
  border-radius: 2px 2px 2px 2px;
  padding: 12px 24px 12px 24px;
  margin-bottom: 50px;
}
.btn-inline {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.container-box {
  background-color: #f9f9f9;
  padding: 80px 0px 70px 0px;
  margin-bottom: 50px;
  margin-top: 150px;
}
h2.heading-title {
  font-size: 42px;
  text-align: center;
  color: #353535;
}
p.text-center {
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .single-line {
    display: block;
  }
  .doc-card {
    width: 100%;
    padding-bottom: 10px;
  }
}

/* Tour */
.tour-row-1 {
  width: 50%;
}
.tour-row-2 {
  margin-left: 30px;
  width: 50%;
  margin-top: 80px;
}
.tour-images {
  display: flex;
}
p.tour-des {
 text-align: center;
  font-size: 16px;
  color: #515151;
  margin-top: 15px;
}
ul.download-quick-links {
  padding: 0;
  margin: 15px auto;
  list-style: none;
  max-width: 250px;
  text-align: left;
}
p.clr-blue {
  color: #0098F7;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.4em;
  text-align: center;
}
h1.tour-space {
  margin-top: 50px;
}

/* Inline */
.inline-row {
  margin-top: 200px;
}
p.text-inline {
  font-size: 16px;
  color: #515151;
  margin-top: 15px;
}
.inline-heading {
  margin-top: 150px;
  width: 50%;
  margin-left: 70px;
}
.row-center{
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
  justify-content: center;
}
.img-inline-btn {
  margin-left: 50px;
}
/* Unbounce */
.unbounce-section {
  display: flex;
  margin-top: 100px;
}
.unbounce-left {
  width: 30%;
}
.unbounce-right {
  width: 70%;
}
p.closeio-title {
  color: #353535;
  font-size: 33px;
  font-weight: 300;
  margin-top: 50px;
  margin-bottom: 20px;
}
blockquote {
  margin: 40px 20px;
  border-left: 2px solid #515151;
  padding-left: 20px;
  font-size: 20px;
  font-style: italic;
}
.closeio-img-one {
  margin-top: 10px;
  margin-bottom: 10px;
}
h1.closeio-heading {
  font-size: 40px;
  color: #515151;
}
.unbounce-row-images {
  width: 100%;
  margin-bottom: 20px;
}
p.closeio-sidebar-text {
  margin-top: 20px;
  margin-bottom: 20px;
}
h3.text-xxlarge {
  font-weight: 300;
  color: #353535;
  line-height: 1.5;
  font-size: 30px;
  margin-bottom: 30px;
}
ul.unbounce-bullets {
  list-style: none;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .unbounce-section {
    display: block;
  }
}
/* Sencha */
p.sencha-title {
  font-size: 24px;
  color: #404040;
  line-height: 1.5;
}
.sencha-text {
  width: 50%;
  margin-top: 50px;
}
.sencha_button {
  display: flex;
  margin-bottom: 100px;
  margin-top: 50px;
}
.sencha-section{
  display: flex;
}
.sencha-inline-heading {
  margin-top: 50px;
}
.ProductCalloutIMG {
  display: block;
  box-sizing: border-box;
  border: 4px solid;
  color: #d8d8d8;
}
p.sencha-text-inline {
  font-size: 16px;
  color: #515151;
  margin-top: 15px;
  width: 80%;
}
p.sencha-edit-title {
  font-size: 28px;
  font-weight: 500;
  color: #0098f7;
  padding-top: 15px;
}
.block-inner {
  border: 2px dashed #5da2f1;
  margin-right: 20px;
  vertical-align: top;
  padding: 10px 30px;
  display: inline-block;
  width: 100%;
}
p.price-box-title {
  text-align: center;
  color: #0098f7;
  font-weight: 300;
  margin-bottom: 20px;
  font-size: 50px;
  line-height: 1.5;
}
.pricing-block-inner {
  padding-left: 50px;
}
.pricing-block-inner ul li {
  list-style: none;
  line-height: 1.5;
}
a.trial-btn {
  color: #fff;
  background: #5da2f1;
  text-align: center;
  padding: 15px;
  font-weight: bold;
  display: block;
  font-size: 24px;
  margin-top: 106px;
  text-decoration: none;
}
.bg-section {
  margin-left: 70px;
}
p.bg-text {
  width: 100%;
}

/* Customers */
.box-text {
  background: #f5f5f5;
  padding: 30px;
  max-width: 555px;
  margin: 0 auto;
  margin-top: 50px;
}
.btn-onbounce {
  margin-top: 50px;
  margin-bottom: 30px;
}
.discover-block {
  display: flex;
}
.discover-card {
  background: #f5f5f5;
  max-width: 555px;
  margin: 0 auto;
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  line-height: 1.5;
}
p.bounce-des {
  margin-top: 10px;
  width: 80%;
}
h1.thousands-heading {
  text-align: center;
  margin-bottom: 50px;
  font-size: 42px;
}
.tweet-card {
  max-width: 555px;
  margin: 0 auto;
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  line-height: 1.5;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .discover-block {
    display: block;
  }
}
/* Plugin */
.plugin-card {
  width: 25%;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  border-radius: 5px;
  color: #7a7a7a;
  padding-top: 0.8em;
  margin-right: 20px;
  margin-top: 20px;
}
p.plugin-text-light {
  padding-left: 20px;
  padding-right: 20px;
  color: #333;
  padding-bottom: 40px;
  padding-top: 20px;
}
h1.top-space {
  margin-top: 200px;
  margin-bottom: 100px;
}
.btm-row {
  margin-bottom: 50px;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .plugin-card {
    width: 100%;
}
}
/* uploader */
section.uploader-section {
  margin-top: 100px;
  background: #fff;
  padding-bottom: 100px;
  padding-left: 120px;
  padding-right: 120px;
}
.uploader-box {
  background: #f5f5f5;
  padding-top: 10px;
  padding-bottom: 50px;
}
.uploader-row {
  display: flex;
}
.gif-img-box {
  width: 50%;
}
.undraw-text {
  margin-top: 20px;
  margin-bottom: 20px;
}
.get-started-left {
  width: 20%;
}
.get-started-middle {
  width: 60%;
}
.get-started-right {
  width: 20%;
}
.get-started-block {
  display: flex;
}
ul.bullets-text {
  list-style-type: decimal;
}
li.bullets-style {
  margin-top: 30px;
}
.prettyprint {
  background: #1e1e1e;
  padding: 5px;
  color: #fff;
  font-family: Consolas, Consolas, 'Courier New', monospace;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  white-space: normal;
}
li.space {
  margin-bottom: 50px;

}
/* sdkc */
.img-box {
  margin-top: 100px;
  box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24)!important;
  padding: 50px;
}
.grid-images {
  display: flex;
}
h2.title-left-border.text-small {
  padding-left: 10px;
  border-left: 3px solid #0098f7;
  margin-bottom: 55px;
  font-size: 1.566em;
  font-weight: 400;
  margin-top: 20px;
}
.row-images {
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}
.left-space {
  margin-left: 50px;
  margin-bottom: 20px;
}
/* solution */
section.back-img{
  background-image: url("./components/images/HeroBannerBG.png");
  background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0px 100px 0px;
}
h1.back-img-title {
  color: #FFFFFF;
  font-family: "Nunito", Sans-serif;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  padding-top: 50px;
}
p.back-img-des {
  color: #FFFFFF;
  font-family: "Nunito", Sans-serif;
  font-size: 23px;
  font-weight: 400;
  line-height: 1.3em;
  text-align: center;
  padding-top: 50px;
}
.back-center-img {
  text-align: center;
  margin-top: 50px;
}
.solution-row {
  display: flex;
}
.solution-box{
  width: 33.33333333%;
}
.solution-box {
  background: #F5F5F5;
  border-radius: 7px 7px 7px 7px;
  margin-right: 20px;
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  border-color: #FFFFFF;
  box-shadow: 0px 0px 4px 0px #cccccc;
  padding: 30px 12px 30px 12px;
}
p.solution-img-des {
  text-align: right;
  color: #0098F7;
  font-size: 13px;
  font-weight: 800;
}
.solution-row.top-row {
  margin-top: -50px;
  margin-bottom: 50px;
}
.bottom-row {
  margin-bottom: 50px;
}
h2.solution-img-text {
  color: #0098F7;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
section.background-clr {
  background: #0198F7;
  padding-top: 40px;
  padding-bottom: 40px;
}
h2.background-img-text {
  color: #FFFFFF;
  font-size: 35px;
  font-weight: 600;
  margin-top: 100px;
  text-align: center;
}
.solution-text {
  width: 100%;
}
a.btn-clr {
  background: #fff;
  color: #0098F7;
}

/* Contact */
.centerlized-img {
  text-align: center;
  margin-top: 80px;
}
p.contact-text {
  text-align: center;
  color: #353535;
  font-size: 1.566em;
  font-weight: 300;
  margin-top: 50px;
  margin-bottom: 20px;
}
p.contact_social_text {
  text-align: center;
  color: #7a7a7a;
  font-size: 14.4px;
  line-height: 1.5;
}
/* Online */
h2.med-hed {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
p.short-desc {
  text-align: center;
  font-size: 22px;
  margin-top: 10px;
}
p.short-text {
  text-align: center;
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.online-card {
  width: 25%;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  border-radius: 5px;
  color: #7a7a7a;
  padding-top: 0.8em;
  margin-right: 20px;
  margin-top: 20px;
}
button.accordion {
  border: none;
  background: #efefef;
  color: #000;
  font-size: 1.2em;
  margin-top: 10px;
}
.panel {
  padding: 0 18px;
  background-color: white;
  overflow: hidden;
}
.accordion {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  transition: 0.4s;
}
h3.online-light {
  font-weight: 700;
  color: #353535;
  line-height: 1.5;
}
p.online-text-light {
  padding-left: 20px;
  padding-right: 20px;
  color: #333;
  padding-bottom: 40px;
}
.online-icon {
  color: #0098f7;
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
}
a.btn-onliline-ex {
  font-size: 20px;
  padding: 15px 35px;
  color: #fff;
  border-color: #0098F7;
  background: #0098F7;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%) !important;
}

/* Pricing */

.pricing-section {
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
  box-shadow: 0 11px 15px -7px rgb(0 0 0 / 20%), 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%);
}
.pricing-tab-1 {
  width: 20%;
  background: #f5f5f5;
}
.pricing-tab-2 {
  width: 20%;
  background: #ffffff;
}
.pricing-tab-3 {
  width: 20%;
  background: #edf5ff;
}
.pricing-tab-4 {
  width: 20%;
  background: #ffffff;
}
.pricing-tab-5 {
  width: 20%;
  background: #edf5ff;
}
p.text-left {
  font-size: 28px;
  color: #333;
  font-weight: 500;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
p.text-xlarge-price {
  font-size: 24px;
  color: #555;
  font-weight: 300;
  text-align: center;
  padding: 15px;
}
p.basic_plan_conatiner {
  color: #333;
  font-size: 31px;
  text-align: center;
  font-weight: 500;
  line-height: 1.5em;
}
p.basic_plan_type {
  font-size: 18px;
  color: #333;
  text-align: center;
}
p.text-small-des {
  font-size: 14px;
  color: #353535;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 15px;
  padding-right: 15px;
}
.btn-group {
  background: #0098f7;
  border-color: #0098f7;
  padding: 10px 30px;
  border-radius: 2px;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}
a.btn-price-plan {
  color: #fff;
}
.btn-group a {
  text-decoration: none;
}
p.plan-text {
  color: #2196F3;
  font-weight: 500;
  font-size: 20px;
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 20px;
}
p.tippy-content {
  cursor: help;
  text-decoration: underline 1px dashed #05162a61;
  text-underline-offset: 4px;
  line-height: 2;
  padding-left: 20px;
  margin: 0 0 15px;
}
p.highlight-plan {
  line-height: 2;
  padding-left: 20px;
  margin: 0 0 15px;
  text-align: center;
}
p.tippy-content-center {
  cursor: help;
  text-decoration: underline 1px dashed #05162a61;
  text-underline-offset: 4px;
  line-height: 2;
  padding-left: 20px;
  margin: 0 0 15px;
  text-align: center;
}
.price-icon {
  line-height: 2;
  padding-left: 20px;
  margin: 0 0 15px;
  text-align: center;
  color: #0198f7;
}
.btn-group-hide {
  background: #f5f5f5;
  border-color: #f5f5f5;
  padding: 10px 30px;
  border-radius: 2px;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}
h1.text-froala-price {
  text-align: center;
  font-size: 33px;
  color: #353535;
  margin-bottom: 50px;
  line-height: 1.3em;
}
.et_section_regular-1 {
    margin-top: 100px;
    width: 20%;
}
.et_section_regular-2 {
  margin-top: 100px;
  width: 60%;
}
.et_section_regular-3 {
  margin-top: 100px;
  width: 20%;
}
.plan-box-row {
  display: flex;
}
p.regular-text {
  text-align: left;
  margin-left: 30px;
  width: 415px;
  line-height: 1.5;
}
h1.regular-head {
  text-align: left;
  margin-left: 30px;
  margin-bottom: 20px;
}
.et_section{
  display: flex;
}
.plan-box-row {
  display: flex;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%),0 1px 2px rgb(0 0 0 / 24%)!important;
  padding-top: 30px!important;
  padding-right: 30px!important;
  padding-bottom: 30px!important;
  padding-left: 30px!important;
  border-top-color: #0098f7;
  border-top-width: 4px;
  margin-bottom: 50px;
}
.price-images {
  display: flex;
}
.plan-images-1 {
  width: 20%;
}
.plan-images-2 {
  width:60%;
  margin-left: 400px;
}
.plan-images-3 {
  width: 20%;
}
h1.price-faq-heading {
  text-align: left;
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: 120px;
  font-size: 42px;
}